#-------------------------------------------------------------------------------
# /etc/sysctl.d/98-oracle-sysctl.conf
#-------------------------------------------------------------------------------

# Oracle VM kernel parameters
#===============================================================================
# https://access.redhat.com/sites/default/files/attachments/deploying-oracle-11gr2-on-rhel6_1.4.pdf
# A value from 0 to 100 which controls the degree to which the system swaps. A
# high value prioritizes system performance, aggressively swapping processes out of physical
# memory when they are not active. A low value prioritizes interactivity and avoids swapping
# processes out of physical memory for as long as possible, which decreases response latency.
# The default value is 60. The Oracle recommended value is 0.
vm.swappiness = 1

# Dirty data is data that has been modified and held in the page cache for
# performance benefits. Once the data is flushed to disk, the data is clean.

# Contains, as a percentage of total system memory, the number of
# pages at which the background write back daemon will start writing out dirty data. The Oracle
# recommended value is 3.
vm.dirty_background_ratio = 3

# Contains, as a percentage of total system memory, the number of pages at
# which a process which is generating disk writes will itself start writing out dirty data. The
# default value is 20. The recommended value is 80.
vm.dirty_ratio = 80

# Defines when dirty in-memory data is old enough to be eligible for
# writeout. The default value is 3000, expressed in hundredths of a second. The Oracle
# recommended value is 500.
vm.dirty_expire_centisecs = 500

# Defines the interval of when writes of dirty in-memory data are
# written out to disk. The default value is 500, expressed in hundredths of a second. The Oracle
# recommended value is 100.
vm.dirty_writeback_centisecs = 100
#=======================================================================================

# Controls the System Request debugging functionality of the kernel
kernel.sysrq = 0
# increase the local port range
net.ipv4.ip_local_port_range = 9000 65500
# decrease time default value for tcp_fin_timeout connection
net.ipv4.tcp_fin_timeout = 30
# decrease time default value for tcp_keepalive_time connection
net.ipv4.tcp_keepalive_time = 1800
# turn off tcp_sack
net.ipv4.tcp_sack = 0
# turn off tcp_timestamps
net.ipv4.tcp_timestamps = 0
# turn off tcp_window_scaling
net.ipv4.tcp_window_scaling = 0
# fs.file-max needs to be set to at least 6815744 for Oracle Installation.
fs.file-max = 6815744
# Deploying Oracle RAC 11g R2 Database on Red Hat Enterprise Linux 6 Best Practices, Roger Lopez, Sr. Software Engineer
kernel.shmall = 4294967296
kernel.shmmax = 4398046511104
kernel.shmmni = 4096
kernel.sem = 250 32000 100 128
# Default setting in bytes of the socket receive buffer
net.core.rmem_default=4194304
# Default setting in bytes of the socket send buffer
net.core.wmem_default=262144
# Maximum socket receive buffer size which may be set by using the SO_RCVBUF socket option
net.core.rmem_max=4194304
# Maximum socket send buffer size which may be set by using the SO_SNDBUF socket option
net.core.wmem_max=1048576
fs.aio-max-nr = 1048576
