# ---------------------------------------------------
# .bash_profile
# runs whenever a login shell is created
# ---------------------------------------------------

# Get the aliases and functions
if [ -f ~/.bashrc ]; then
      . ~/.bashrc
fi
